
body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

#time-window {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.filter-buttons {
  margin-left: 21px;
  color: #727272;
  font-family: PT Sans;
}
.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}
#sidebar {
  width: 360px;
  padding: 12px;
  position: relative;
  left: 10px;
  bottom: 100px;
  right: 0;
  top: 100px;
  background-color: rgb(211, 217, 226);
  border-radius: 10px;
  z-index: 1;
}
.ct-chart {
  font-size: 12;
background-color:;
color: white;
border-radius: 12px;
font-family: PT Sans;
}
#map {
  position: absolute;
  left: 0px;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: #ccc;
}

.title{
  font-family: PT Sans;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: #727272;
}
p{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #727272;
}

.input-group{
  font-size: 12;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-family: PT Sans;
}
#All{
  font-size: 12;
  background-color: #016c59;
  color: white;
  border-radius: 12px;
  font-family: PT Sans;
}
#Ped{
  font-size: 12;
  background-color: #67a9cf;
  color: white;
  border-radius: 12px;
  font-family: PT Sans;
}
#Bike {
  font-size: 12;
  background-color: #1c9099;
  color: white;
  border-radius: 12px;
  font-family: PT Sans;
}
.tab-content {
  padding: 10px;
}

.nav.nav-tabs {
  padding-top: 10px;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 0 5px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}
.ct-legend {
  padding-top: 136px;
  padding-left: 61px;
  position: absolute;
  list-style: none;
  z-index: 10;
  font-family: PT Sans;
  color: #727272;
}

ul.legend {
  padding-top:10px;
}

.legend li {
  position: relative;
  padding-left: 23px;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 15px;
  font-family: PT Sans;
  color: #727272;
}

.legend li:before {
  width: 12px;
  height: 0px;
  top: 9px;
  position: absolute;
  left: 0;
  content: '';
  border: 1.5px solid;
  border-radius: 2px;
}
.legend li.mph15:before{
  border-color: #feebe2;
}
.legend li.mph25:before {
  border-color: #fcc5c0;
}
.legend li.mph30:before {
  border-color: #f768a1;
}
.legend li.mph35:before {
  border-color: #c51b8a;
}
.legend li.mph40:before {
  border-color: #7a0177;
}


.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 15px;
}

.ct-legend li:before {
    width: 12px;
    height: 12px;
    top: 3px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

&.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}

.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
    border-top-color: rgb(215, 2, 6);
    border-right-color: rgb(215, 2, 6);
    border-bottom-color: rgb(215, 2, 6);
    border-left-color: rgb(215, 2, 6);
}
.ct-legend .ct-series-1:before {
    background-color: rgb(240, 91, 79);
    border-color: rgb(240, 91, 79);
    border-top-color: rgb(240, 91, 79);
    border-right-color: rgb(240, 91, 79);
    border-bottom-color: rgb(240, 91, 79);
    border-left-color: rgb(240, 91, 79);
}
